# Compiled Object files
*.slo
*.lo
*.o
*.obj
.vs/*
*.sdf
*.opensdf
*.opendb
# Precompiled Headers
*.gch
*.pch


# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/builds
/bin
*.tss
bin/config.ini
*.pdb
*.lnk
