# Compiled Object files
*.slo
*.lo
*.o
*.obj
.vs/*
*.sdf
*.opensdf
*.opendb
# Precompiled Headers
*.gch
*.pch
*.ipch


# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ini
*.tss
*.pdb
*.lnk

# Visual Studio
*.suo
*.sdf
*.opensdf

/builds
/bin
